In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
data = pd.read_csv('../train.csv')

In [4]:
data['Gender'] = data['Sex'].map({'male':0, 'female':1})

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
import re

In [5]:
data['Title'] = data['Name'].map(lambda name: re.search('[a-zA-Z]+\.',name).group(0))

In [6]:
data['Title'].value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Major.         2
Col.           2
Mlle.          2
Jonkheer.      1
Ms.            1
Countess.      1
Capt.          1
Lady.          1
Mme.           1
Sir.           1
Don.           1
Name: Title, dtype: int64

In [7]:
def classify_title(title):
    if title in ['Mr.', 'Mrs.', 'Miss.', 'Master.', 'Rev.', 'Dr.']:
        return title
    elif title == 'Mme.':
        return 'Mrs.'
    elif title == 'Mlle.':
        return 'Miss.'
    else:
        return 'Rare'

In [8]:
data['Title'] = data['Title'].map(classify_title)

In [10]:
data['Title'].value_counts()

Mr.        517
Miss.      184
Mrs.       126
Master.     40
Rare        11
Dr.          7
Rev.         6
Name: Title, dtype: int64

In [15]:
y = data['Survived']

## What if we just make the simple assumption that all males die and all females survive?

In [16]:
df = pd.read_csv('../test.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [20]:
df['Title'] = df['Name'].map(lambda name: re.search('[a-zA-Z]+\.',name).group(0))

In [21]:
df['Title'] = df['Title'].map(classify_title)

In [22]:
df['Title'].value_counts()

Mr.        240
Miss.       78
Mrs.        72
Master.     21
Rare         4
Rev.         2
Dr.          1
Name: Title, dtype: int64

In [23]:
df['Survived'] = df['Title'].map({'Mr.':0, 'Miss.':1,'Mrs.':1,'Master.':1,'Rare':1,'Rev.':0,'Dr.':0})

In [24]:
submission = pd.DataFrame({ 'PassengerId': df['PassengerId'], 'Survived': df['Survived']})

In [25]:
# uncomment below to generate the submission csv
# submission.to_csv('submission_prediction_by_title.csv', index=False)